*{
    box-sizing: border-box;
}

.ccontainer {
    width: 1170px;
    margin: 0 auto;
    
}

.box {
    height: 300px;
    background: rgb(45.22.0);
    background: linear-gradient(90deg, rgba(45,22,0,1) 0%, rgba(111,54,0,1) 100%);
    margin: 0 auto;
}
.box_inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    text-align: center;
}
.number {
    color: #fff;
    font-size: 70px;
    padding-top: 5px;
}
.text {
    color: #b68c69;
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 25px;
    font-weight: 500; 
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    
}

i.fa{
    font-size: 70px;
    color: #b68c69;
    
   
}
